body {
	font-family: 'Oxygen', sans-serif;
}
#title {
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 10px dashed #dad9e0;
}

.fruitcontainer {
	position: relative;
	display: flex;
	margin-bottom: 10px;
	/*border: 1px solid red;*/
}

.fruitimage {
	position: relative;
	/*border: 1px solid black;*/
	width: 50%;
	float: left;
}
.fruitcontent {
	position: relative;
	/*border: 1px solid blue;*/
	width: 50%;
	float: right;
	background-color: #dad9e0;
}

.fruitcontent h3, p {
	width: 85%;
	margin: 10 10 10 10;
}